@charset "utf-8";
	.XMLID_2882_
{
	border-style : Solid;
	border-color : #010101;
	border-color : rgba(1, 1, 1, 1);
	border-width : 1px;
	position : absolute ;
	left : 337px;
	top : 642px;
}
.XMLID_2883_
{
	border-style : Solid;
	border-color : #010101;
	border-color : rgba(1, 1, 1, 1);
	border-width : 1px;
	position : absolute ;
	left : 242px;
	top : 646px;
}
.NormalCharacterStyle
{
	font-family : Georgia;
	font-size : 24px;
	line-height : 33px;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.NormalCharacterStyle1
{
	font-family : Mathlete;
	font-size : 160px;
	font-variant : small-caps;
	color : #231F20;
	color : rgb(35, 31, 32);
}
.XMLID_154_
{
	background-image : url(XMLID_154_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 2px;
	top : 351px;
}
.XMLID_2_
{
	background-image : url(XMLID_2_.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 296px;
	top : 250px;
}
